################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Universidad/v17/DocumentLayout.json
/.vs/Universidad/v17/.suo
/.vs/Universidad/FileContentIndex
